@model IEnumerable<OnlineLearningSystem.Models.user_info>

@{
    ViewBag.Title = "Report";
}

<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-6">FirstName</div>
            <div class="col-lg-6">LastName</div>

        </div>
    </li>
    @foreach (var name in Model)
    {
        <li class="list-group-item listInformation">
            <div class="row">
                <div class="col-lg-6">@name.firstName</div>
                <div class="col-lg-6">Maharjan</div>
               
            </div>
        </li>
    }
    View report @Html.ActionLink("Report", "Exportreport", "SuperAdmin");

</ul>

