@{
    ViewBag.Title = "AssignmentView";
    Layout = "~/Views/Shared/Student.cshtml";
}

<script>
    $('.assignmentview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.assignmentview').css('border-radius', '20px');
    $('.assignmentview').css('color', 'black');
    $('.assignmentview').css("box-shadow", "10px 10px 12px #888888");
</script>

<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-4">Assignment Name</div>
            <div class="col-lg-1">Assign.ID</div>
            <div class="col-lg-2">Assign Date</div>
            <div class="col-lg-2">End Date</div>
            <div class="col-lg-3">

            </div>
        </div>
    </li>
    <li class="list-group-item listInformation">
        <div class="row">
            <div class="col-lg-4">Summar Vacation Assignment</div>
            <div class="col-lg-1">2015</div>
            <div class="col-lg-2">26th Sep</div>
            <div class="col-lg-2">26th Nov</div>
            <div class="col-lg-3 pull-right">
                <div class="col-lg-3">
                    <img src="~/Content/images/edit.png" width="25px" height="25px" title="Edit" />
                </div>
                <div class="col-lg-3">
                    <img src="~/Content/images/view.png" width="25px" height="25px" title="View" />
                </div>
                <div class="col-lg-3">
                    <img src="~/Content/images/delete.png" width="25px" height="25px" title="Delete" />
                </div>
            </div>
        </div>
    </li>

</ul>


