@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<OnlineLearningSystem.Models.Coursedetail>
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/Student.cshtml";
}

<hr />
@foreach (var item in Model)
{
    <h3>@item.topictitle</h3><br />
    <ul>
        <li>Take a course</li>
        <li>Ask Question</li>
    </ul>
}        
