@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<OnlineLearningSystem.Models.subject>
@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/Student.cshtml";
}

<ol class="list-group-item-heading">
    @foreach (var course in Model)
    {
        <li>@Html.ActionLink(@course.subjectname,"DetailCourse", "Student", new { courseid = @course.subjectid }, new { @class = "list-group-item highlight" })</li>

    }
</ol>

<ul>
    <li>Courses</li>
</ul>
<ol>
    <li>
        Introduction of c#
        <ul>
            <li>@Html.ActionLink("Take a course","Detailcourse","Student")</li>
            <li>Ask Question</li>
        </ul>
    </li>
    <li>
        Advance c#
        <ul>
            <li>Take a course</li>
            <li>Ask Question</li>
        </ul>
    </li>
    <li>
        Nutshell c#
        <ul>
            <li>Take a course</li>
            <li>Ask Question</li>
        </ul>
    </li>

</ol>