@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<OnlineLearningSystem.Models.subject>
@{
    ViewBag.Title = "Subject";
    Layout = "~/Views/Shared/Student.cshtml";
}

<ol class="list-group-item-heading">
    @foreach (var course in Model)
    {
        <li>@Html.ActionLink(@course.subjectname,"DetailCourse", "Student", new { courseid = @course.subjectid }, new { @class = "list-group-item highlight" })</li>

    }
</ol>

