@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineLearningSystem.Models.user_info>

@{
    ViewBag.Title = "TeacherView";
    Layout = "~/Views/Shared/Student.cshtml";
}
<script>
    $('.teacherview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.teacherview').css('border-radius', '20px');
    $('.teacherview').css('color', 'black');
    $('.teacherview').css("box-shadow", "10px 10px 12px #888888");
</script>



<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-2">FirstName</div>
            <div class="col-lg-2">LastName</div>
            <div class="col-lg-2">Username</div>
            <div class="col-lg-2">Course</div>
            <div class="col-lg-2">Course duration</div>
            <div class="col-lg-2">

            </div>
        </div>
    </li>
@foreach (var item in Model.Where(m1 => m1.id != 0))
    {
    <li class="list-group-item listInformation">
        <div class="row">
            <div class="col-lg-2">@item.firstName</div>
            <div class="col-lg-2">@item.lastName</div>
            <div class="col-lg-2">@item.username</div>
            <div class="col-lg-2">@item.schoolid</div>
            <div class="col-lg-2">4</div>
            <div class="col-lg-2">
                <div class="col-lg-4">
                    <img src="~/Content/images/message.png" width="20px" height="27px" title="Message" />
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/review.png" width="25px" height="25px" id="review" title="Review Teacher" />
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/view.png" width="25px" height="25px" title="View" />
                </div>


            </div>
        </div>
        <div class="row" >
            <div class="col-lg-12 icon-star hidden rating">
                <div title="1 stars" id="1stars" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="2 stars" id="2stars" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="3 stars" id="3stars" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="4 stars" id="4stars" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="5 stars" id="5stars" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
            </div>
            <div id="message" style="color:#ff006e;font-size:15px"></div>
        </div>
    </li>
}

</ul>
