@{
    ViewBag.Title = "TeacherView";
    Layout = "~/Views/Shared/Student.cshtml";
    }
<script>
    $('.teacherview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.teacherview').css('border-radius', '20px');
    $('.teacherview').css('color', 'black');
    $('.teacherview').css("box-shadow", "10px 10px 12px #888888");
</script>



<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-2">FirstName</div>
            <div class="col-lg-2">LastName</div>
            <div class="col-lg-2">Username</div>
            <div class="col-lg-2">Course</div>
            <div class="col-lg-2">Course duration</div>
            <div class="col-lg-2">

            </div>
        </div>
    </li>
    <li class="list-group-item listInformation">
        <div class="row">
            <div class="col-lg-2">Teacher</div>
            <div class="col-lg-2">Teacher</div>
            <div class="col-lg-2">Teacher</div>
            <div class="col-lg-2">Teacher</div>
            <div class="col-lg-2">Teacher Jun</div>
            <div class="col-lg-2">
                <div class="col-lg-4">
                    <img src="~/Content/images/message.png" width="20px" height="27px" title="Message" />
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/review.png" width="25px" height="25px" title="Review Teacher" />
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/view.png" width="25px" height="25px" title="View" />
                </div>


            </div>
        </div>

</ul>
